<div class="flex flex-1 p-20">
  <div class="flex flex-col px-10 py-20 border border-gray-200 shadow-lg rounded-lg">
    <% @products.each do |product| %>
      <div class="flex flex-1">
        Title:       
        <%= product.title %>
      </div>
      <div class="flex">
        Description: 
        <%= product.description %>
      </div>
      <div class="flex flex-1 m-2">
        <%= button_to 'Add to Cart', cart_items_path(product_id: product.id), class: 'bg-indigo-400 text-white p-2 rounded-md'%>
      </div>
    <% end %>
  </div>
</div>