<div class="flex flex-1 items-center justify-center">
  <div class="flex flex-1 flex-col items-center justify-center">
    <div class="text-gray-600 text-2xl font-semibold">Orders of the <%= current_user.username %></div>  

    <div class="container mx-auto px-4 sm:px-8">
    <div class="py-8">
        <div>
            <h2 class="text-2xl font-semibold leading-tight">Orders</h2>
        </div>
        <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
            <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                <table class="min-w-full leading-normal">
                    <thead>
                        <tr>
                            <th
                                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                ID
                            </th>
                            <th
                                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Name
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                      <% @orders.each_with_index do | order, index | %>
                        <tr>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm w-2/5">
                                <div class="flex items-center justify-center">
                                    <div class="flex"><%= index + 1 %><div>
                                </div>
                            </td>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <p class="text-gray-900 whitespace-no-wrap text-center">
                                  <%= order.name %>
                                </p>
                            </td> 
                        </tr>
                      <% end %>  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
  </div>
</div>