<div class="flex flex-1 py-4 bg-indigo-400 text-white font-bold item-center justify-center">
  <div class="flex flex-1">
    <div class="flex flex-1 justify-center">Shop</div>
    <div class="flex flex-1 justify-center">Products</div>
    <div class="flex flex-1 justify-center">Profile</div>
  </div>
  <div class="flex flex-1 justify-end">
    <div class="flex flex-1 justify-end px-10">Cart</div>
  </div>
  
</div>